.profile__subtitle {
    max-width: 336px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    grid-row: 2/3;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
@media (max-width: 696px) {
    .profile__subtitle {
        margin: 16px auto 0;
        max-width: 282px;
        grid-column: 1/4;
        grid-row: 3/4;
        font-size: 14px;
        line-height: 17px;
    }
}