.header__link {
    margin: 6px 0 46px 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    background: none;
    color: #fff;
    text-decoration: none;
    border: none;
}
.header__link:hover {
    opacity: 0.6;
    transition: 1s linear 0.05s;
    cursor: pointer;
}
@media (max-width: 696px) {
    .header__link {
        margin: 24px 30px 34px 0;
        font-size: 14px;
        line-height: 17px;
    }
}