.card__image {
    margin-bottom: 4px;
    background-size: cover;
    background-position: 50%;
    border: none;
    min-height: 282px;
    max-height: 282px;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.card__image:hover {
    cursor: pointer;
}