.register__title {
    max-width: 358px;
    margin: 60px auto 50px;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
}
@media (max-width: 696px) {
    .register__title {
        margin: 40px auto;
        max-width: 260px;
        font-size: 18px;
        line-height: 22px;
    }
}