.cards {
    max-width: 880px;
    margin: 52px auto 0;
    padding: 0 0 48px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px 17px;
}
@media (max-width: 920px) {
    .cards {
        justify-content: center;
    }
}
@media (max-width: 696px) {
    .cards {
        margin: 36px auto 0;
        padding: 0;
    }
}