.form__error-email {
    display: block;
    width: 356px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    position: absolute;
        top: -30px;
        left: 50%;
    transform: translate(-50%);
    border: none;
    color: #FF0000;
    background-color: transparent;
    outline: none;
    z-index: 2;
}
@media (max-width: 696px) {
    .form__error-email {
        font-size: 9px;
        line-height: 12px;
        width: 240px;
    }
}